main, section {
    text-align: center;
}

main,section {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

main {
    margin-bottom: 2em;
}

header {
    display: flex;
    flex-direction: row;
}

header a {
    text-decoration: none;
    margin: 0 2em;
}

body,html {
    scroll-behavior: smooth;
}