main, section {
    text-align: center;
}

main,section {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

main {
    margin-bottom: 2em;
}

ul {
    margin-left: 2em;
    margin-right: 4em;
}


li {
    list-style: none !important;
}

header ul {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

header a {
    text-decoration: none;
}

body,html {
    scroll-behavior: smooth;
}